In [ ]:
pip install pandas requests

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (2.32.3)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests) (2025.4.26)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd
import requests

In [ ]:
url = "https://raw.githubusercontent.com/ingridcristh/challenge2-data-science-LATAM/main/TelecomX_Data.json"
df = pd.read_json(url)

In [ ]:
print(df. head())

print(df.info())

print(df.describe())

   customerID Churn                                           customer  \
0  0002-ORFBO    No  {'gender': 'Female', 'SeniorCitizen': 0, 'Part...
1  0003-MKNFE    No  {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
2  0004-TLHLJ   Yes  {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
3  0011-IGKFF   Yes  {'gender': 'Male', 'SeniorCitizen': 1, 'Partne...
4  0013-EXCHZ   Yes  {'gender': 'Female', 'SeniorCitizen': 1, 'Part...

                                             phone  \
0   {'PhoneService': 'Yes', 'MultipleLines': 'No'}
1  {'PhoneService': 'Yes', 'MultipleLines': 'Yes'}
2   {'PhoneService': 'Yes', 'MultipleLines': 'No'}
3   {'PhoneService': 'Yes', 'MultipleLines': 'No'}
4   {'PhoneService': 'Yes', 'MultipleLines': 'No'}

                                            internet  \
0  {'InternetService': 'DSL', 'OnlineSecurity': '...
1  {'InternetService': 'DSL', 'OnlineSecurity': '...
2  {'InternetService': 'Fiber optic', 'OnlineSecu...
3  {'InternetService': 'Fiber optic', 'OnlineSecu...
4  {'InternetService': 'Fiber optic', 'OnlineSecu...

                                             account
0  {'Contract': 'One year', 'PaperlessBilling': '...
1  {'Contract': 'Month-to-month', 'PaperlessBilli...
2  {'Contract': 'Month-to-month', 'PaperlessBilli...
3  {'Contract': 'Month-to-month', 'PaperlessBilli...
4  {'Contract': 'Month-to-month', 'PaperlessBilli...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB
None
        customerID Churn                                           customer  \
count         7267  7267                                               7267
unique        7267     3                                                891
top     9995-HOTOH    No  {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
freq             1  5174                                                223

                                                 phone  \
count                                             7267
unique                                               3
top     {'PhoneService': 'Yes', 'MultipleLines': 'No'}
freq                                              3495

                                                 internet  \
count                                                7267
unique                                                129
top     {'InternetService': 'No', 'OnlineSecurity': 'N...
freq                                                 1581

                                                  account
count                                                7267
unique                                               6931
top     {'Contract': 'Month-to-month', 'PaperlessBilli...
freq                                                    6

In [ ]:
# Paso 1: Detectar las columnas que contienen diccionarios
cols_to_flatten = [col for col in df.columns if isinstance(df[col].iloc[0], dict)]

print("Columnas a desanidar:", cols_to_flatten)

Columnas a desanidar: ['customer', 'phone', 'internet', 'account']

In [ ]:
# Paso 2: Crear un DataFrame base con las columnas no anidadas
df_base = df.drop(columns=cols_to_flatten).copy()

# Paso 3: Desanidar cada columna detectada automáticamente
flattened_parts = [pd.json_normalize(df[col]) for col in cols_to_flatten]

# Paso 4: Unir todo en un solo DataFrame
df_final = pd.concat([df_base] + flattened_parts, axis=1)

# Paso 5: Limpiar nombres de columnas
df_final.columns = df_final.columns.str.strip().str.lower().str.replace(' ', '_')

# Vista previa
df_final.head()

,customerid,churn,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,...,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,charges.monthly,charges.total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [15]:
# 1. Valores ausentes por columna
print("Valores ausentes por columna:")
print(df_final.isnull().sum())
print("\n" + "-"*50 + "\n")

# 2. Filas duplicadas
num_duplicados = df_final.duplicated().sum()
print(f"Número de filas duplicadas: {num_duplicados}\n")

if num_duplicados > 0:
    df_final = df_final.drop_duplicates()
    print("Duplicados eliminados.\n")
print("-"*50 + "\n")

# 3. Errores de formato en 'charges.total'
df_final['charges.total'] = pd.to_numeric(df_final['charges.total'], errors='coerce')
num_null_totalcharges = df_final['charges.total'].isnull().sum()
print(f"Valores NaN en 'charges.total' tras conversión a numérico: {num_null_totalcharges}\n")
print("-"*50 + "\n")

# 4. Valores únicos en columnas categóricas para detectar inconsistencias
categorical_cols = [
    'gender', 'partner', 'dependents', 'phoneservice', 'multiplelines',
    'internetservice', 'onlinesecurity', 'techsupport', 'contract',
    'paymentmethod', 'paperlessbilling', 'churn'
]

for col in categorical_cols:
    unique_vals = df_final[col].unique()
    print(f"Valores únicos en '{col}': {unique_vals}\n")

print("-"*50 + "\n")

# Opcional: resumen general del DataFrame
print("Resumen general del DataFrame:")
print(df_final.info())

Valores ausentes por columna:
customerid           0
churn                0
gender               0
seniorcitizen        0
partner              0
dependents           0
tenure               0
phoneservice         0
multiplelines        0
internetservice      0
onlinesecurity       0
onlinebackup         0
deviceprotection     0
techsupport          0
streamingtv          0
streamingmovies      0
contract             0
paperlessbilling     0
paymentmethod        0
charges.monthly      0
charges.total       11
dtype: int64

--------------------------------------------------

Número de filas duplicadas: 0

--------------------------------------------------

Valores NaN en 'charges.total' tras conversión a numérico: 11

--------------------------------------------------

Valores únicos en 'gender': ['Female' 'Male']

Valores únicos en 'partner': ['Yes' 'No']

Valores únicos en 'dependents': ['Yes' 'No']

Valores únicos en 'phoneservice': ['Yes' 'No']

Valores únicos en 'multiplelines': ['No' 'Yes' 'No phone service']

Valores únicos en 'internetservice': ['DSL' 'Fiber optic' 'No']

Valores únicos en 'onlinesecurity': ['No' 'Yes' 'No internet service']

Valores únicos en 'techsupport': ['Yes' 'No' 'No internet service']

Valores únicos en 'contract': ['One year' 'Month-to-month' 'Two year']

Valores únicos en 'paymentmethod': ['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']

Valores únicos en 'paperlessbilling': ['Yes' 'No']

Valores únicos en 'churn': ['No' 'Yes' '']

--------------------------------------------------

Resumen general del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerid        7267 non-null   object
 1   churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   seniorcitizen     7267 non-null   int64
 4   partner           7267 non-null   object
 5   dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   phoneservice      7267 non-null   object
 8   multiplelines     7267 non-null   object
 9   internetservice   7267 non-null   object
 10  onlinesecurity    7267 non-null   object
 11  onlinebackup      7267 non-null   object
 12  deviceprotection  7267 non-null   object
 13  techsupport       7267 non-null   object
 14  streamingtv       7267 non-null   object
 15  streamingmovies   7267 non-null   object
 16  contract          7267 non-null   object
 17  paperlessbilling  7267 non-null   object
 18  paymentmethod     7267 non-null   object
 19  charges.monthly   7267 non-null   float64
 20  charges.total     7256 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB
None

In [16]:
# Ver cuántas filas tienen churn vacío
print("Filas con churn vacío:", df_final[df_final['churn'].str.strip() == ''].shape[0])

# Eliminar esas filas
df_final = df_final[df_final['churn'].str.strip() != '']

Filas con churn vacío: 224

In [18]:
#eliminar valores vacios en charges total
df_final = df_final[df_final['charges.total'].notna()]

In [19]:
# Columnas relacionadas con teléfono e internet
columns_to_clean = [
    'multiplelines', 'onlinesecurity', 'onlinebackup',
    'deviceprotection', 'techsupport', 'streamingtv', 'streamingmovies'
]

# Reemplazar 'No phone service' y 'No internet service' por 'No'
for col in columns_to_clean:
    df_final[col] = df_final[col].replace({
        'No phone service': 'No',
        'No internet service': 'No'
    })

In [20]:
print(df_final.isnull().sum())
print(df_final['churn'].unique())

customerid          0
churn               0
gender              0
seniorcitizen       0
partner             0
dependents          0
tenure              0
phoneservice        0
multiplelines       0
internetservice     0
onlinesecurity      0
onlinebackup        0
deviceprotection    0
techsupport         0
streamingtv         0
streamingmovies     0
contract            0
paperlessbilling    0
paymentmethod       0
charges.monthly     0
charges.total       0
dtype: int64
['No' 'Yes']

In [21]:
# Revisión general del DataFrame en una sola celda
print("✅ Valores nulos por columna:\n", df_final.isnull().sum(), "\n" + "-"*50)

print("✅ Tipos de datos por columna:\n", df_final.dtypes, "\n" + "-"*50)

print("✅ Resumen estadístico de columnas numéricas:\n", df_final.describe(), "\n" + "-"*50)

print("✅ Distribución de la variable 'churn':\n", df_final['churn'].value_counts(), "\n" + "-"*50)

print("✅ Valores únicos por columna categórica:")
for col in df_final.select_dtypes(include='object').columns:
    print(f"- {col}: {df_final[col].unique()}")

✅ Valores nulos por columna:
 customerid          0
churn               0
gender              0
seniorcitizen       0
partner             0
dependents          0
tenure              0
phoneservice        0
multiplelines       0
internetservice     0
onlinesecurity      0
onlinebackup        0
deviceprotection    0
techsupport         0
streamingtv         0
streamingmovies     0
contract            0
paperlessbilling    0
paymentmethod       0
charges.monthly     0
charges.total       0
dtype: int64
--------------------------------------------------
✅ Tipos de datos por columna:
 customerid           object
churn                object
gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
multiplelines        object
internetservice      object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
paperlessbilling     object
paymentmethod        object
charges.monthly     float64
charges.total       float64
dtype: object
--------------------------------------------------
✅ Resumen estadístico de columnas numéricas:
        seniorcitizen       tenure  charges.monthly  charges.total
count    7032.000000  7032.000000      7032.000000    7032.000000
mean        0.162400    32.421786        64.798208    2283.300441
std         0.368844    24.545260        30.085974    2266.771362
min         0.000000     1.000000        18.250000      18.800000
25%         0.000000     9.000000        35.587500     401.450000
50%         0.000000    29.000000        70.350000    1397.475000
75%         0.000000    55.000000        89.862500    3794.737500
max         1.000000    72.000000       118.750000    8684.800000
--------------------------------------------------
✅ Distribución de la variable 'churn':
 churn
No     5163
Yes    1869
Name: count, dtype: int64
--------------------------------------------------
✅ Valores únicos por columna categórica:
- customerid: ['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-UJOEL' '9993-LHIEB'
 '9995-HOTOH']
- churn: ['No' 'Yes']
- gender: ['Female' 'Male']
- partner: ['Yes' 'No']
- dependents: ['Yes' 'No']
- phoneservice: ['Yes' 'No']
- multiplelines: ['No' 'Yes']
- internetservice: ['DSL' 'Fiber optic' 'No']
- onlinesecurity: ['No' 'Yes']
- onlinebackup: ['Yes' 'No']
- deviceprotection: ['No' 'Yes']
- techsupport: ['Yes' 'No']
- streamingtv: ['Yes' 'No']
- streamingmovies: ['No' 'Yes']
- contract: ['One year' 'Month-to-month' 'Two year']
- paperlessbilling: ['Yes' 'No']
- paymentmethod: ['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']

In [23]:
df_final = df_final.convert_dtypes()

print(df_final.dtypes)

customerid          string[python]
churn               string[python]
gender              string[python]
seniorcitizen                Int64
partner             string[python]
dependents          string[python]
tenure                       Int64
phoneservice        string[python]
multiplelines       string[python]
internetservice     string[python]
onlinesecurity      string[python]
onlinebackup        string[python]
deviceprotection    string[python]
techsupport         string[python]
streamingtv         string[python]
streamingmovies     string[python]
contract            string[python]
paperlessbilling    string[python]
paymentmethod       string[python]
charges.monthly            Float64
charges.total              Float64
dtype: object